_target_: src.models.video_mnist_module.VideoMNISTLitModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10

net:
  _target_: src.models.components.video_test.SmallerVideoUNet
  n_channels: 1
  input_length: 10
  output_length: 10

# compile model for faster training with pytorch 2.0
compile: false
